In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv('https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv')
dados.head()

   Unnamed: 0  mileage_per_year  model_year      price sold
0           0             21801        2000   30941.02  yes
1           1              7843        1998   40557.96  yes
2           2              7109        2006   89627.50   no
3           3             26823        2015   95276.14   no
4           4              7935        2014  117384.68  yes

In [3]:
dados.columns = ['id','milhas_por_ano','ano_do_modelo',
                 'preco','vendido']
dados.vendido.replace(['yes','no'],[1,0], inplace=True)
dados.head()

   id  milhas_por_ano  ano_do_modelo      preco  vendido
0   0           21801           2000   30941.02        1
1   1            7843           1998   40557.96        1
2   2            7109           2006   89627.50        0
3   3           26823           2015   95276.14        0
4   4            7935           2014  117384.68        1

In [4]:
from datetime import datetime

ano_atual = datetime.today().year
dados['idade_do_modelo'] = ano_atual - dados.ano_do_modelo

In [5]:
dados.head()

   id  milhas_por_ano  ano_do_modelo      preco  vendido  idade_do_modelo
0   0           21801           2000   30941.02        1               20
1   1            7843           1998   40557.96        1               22
2   2            7109           2006   89627.50        0               14
3   3           26823           2015   95276.14        0                5
4   4            7935           2014  117384.68        1                6

In [6]:
dados['km_por_ano'] = dados.milhas_por_ano*1.60934
dados.head()

,id,milhas_por_ano,ano_do_modelo,preco,vendido,idade_do_modelo,km_por_ano
0,0,21801,2000,30941.02,1,20,35085.22134
1,1,7843,1998,40557.96,1,22,12622.05362
2,2,7109,2006,89627.50,0,14,11440.79806
3,3,26823,2015,95276.14,0,5,43167.32682
4,4,7935,2014,117384.68,1,6,12770.11290

In [7]:
dados = dados.drop(columns = ['id','milhas_por_ano','ano_do_modelo'], axis=1)

In [8]:
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               20  35085.22134
1   40557.96        1               22  12622.05362
2   89627.50        0               14  11440.79806
3   95276.14        0                5  43167.32682
4  117384.68        1                6  12770.11290

In [9]:
x = dados[['preco','idade_do_modelo','km_por_ano']]
y = dados['vendido']

In [10]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

np.random.seed(5)
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                            test_size = 0.25,
                                            stratify = y)
print('treinaremos com {} elementos e testaremos com {} elementos'.format(len(x_train),len(x_test)))

modelo = LinearSVC()
modelo.fit(x_train, y_train)
previsoes = modelo.predict(x_test)

acuracia = accuracy_score(y_test, previsoes)*100
print('a acurácia  foi %.2f%%' % acuracia)

treinaremos com 7500 elementos e testaremos com 2500 elementos
a acurácia  foi 58.00%

C:\Users\FAEST\anaconda3\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [12]:
from sklearn.dummy import DummyClassifier

dummy_estratificado = DummyClassifier()
dummy_estratificado.fit(x_train, y_train)
acuracia = dummy_estratificado.score(x_test, y_test)*100

print('a acurácia do dummy estratificado foi %.2f%%' % acuracia)

a acurácia do dummy estratificado foi 52.44%

In [13]:
from sklearn.dummy import DummyClassifier

dummy_frequente = DummyClassifier()
dummy_frequente.fit(x_train, y_train)
acuracia = dummy_frequente.score(x_test, y_test)*100

print('a acurácia do dummy frequente foi %.2f%%' % acuracia)

a acurácia do dummy frequente foi 50.68%

In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

np.random.seed(5)
original_x_train, original_x_test, y_train, y_test = train_test_split(x,y,random_state = 5,
                                            test_size = 0.25,
                                            stratify = y)
print('treinaremos com {} elementos e testaremos com {} elementos'.format(len(x_train),len(x_test)))

scaler = StandardScaler()
scaler.fit(original_x_train)
x_train = scaler.transform(original_x_train)
x_test = scaler.transform(original_x_test)

modelo = SVC()
modelo.fit(x_train, y_train)
previsoes = modelo.predict(x_test)

acuracia = accuracy_score(y_test, previsoes)*100
print('a acurácia do algoritmo de baseline foi {}%'.format(acuracia))

treinaremos com 7500 elementos e testaremos com 2500 elementos
a acurácia do algoritmo de baseline foi 77.48%

In [22]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

np.random.seed(5)
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                            test_size = 0.25,
                                            stratify = y)
print('treinaremos com {} elementos e testaremos com {} elementos'.format(len(x_train),len(x_test)))

modelo = DecisionTreeClassifier()
modelo.fit(x_train, y_train)
previsoes = modelo.predict(x_test)

acuracia = accuracy_score(y_test, previsoes)*100
print('a acurácia do algoritmo  foi {}%'.format(acuracia))

treinaremos com 7500 elementos e testaremos com 2500 elementos
a acurácia do algoritmo  foi 73.32%